[package]
name = "agent"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
agent-sql = { path = "../agent-sql" }
async-process = { path = "../async-process" }
build = { path = "../build" }
doc = { path = "../doc" }
models = { path = "../models" }
proto-flow = { path = "../proto-flow" }
runtime = { path = "../runtime" }
tables = { path = "../tables", features = ["persist"] }
validation = { path = "../validation" }

anyhow = { workspace = true }
async-trait = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
colored_json = { workspace = true } # Used to render ops::Logs for UI.
derivative = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
regex = { workspace = true }
reqwest = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sqlx = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
validator = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
tokio = { workspace = true }
serial_test = { workspace = true }
uuid = { workspace = true }
