[package]
name = "proto-grpc"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
proto-gazette = { path = "../proto-gazette" }
proto-flow = { path = "../proto-flow", optional = true }

tonic = { workspace = true }
tonic-prost = { workspace = true }

[build-dependencies]
proto-build = { path = "../proto-build", optional = true }

tonic-prost-build = { workspace = true, optional = true }

[features]
default = []
generate = ["proto-build", "tonic-prost-build"]

broker_client = []
broker_server = []

capture_client = ["proto-flow"]
capture_server = ["proto-flow"]

consumer_client = []
consumer_server = []

derive_client = ["proto-flow"]
derive_server = ["proto-flow"]

flow_client = ["proto-flow"]
flow_server = ["proto-flow"]

materialize_client = ["proto-flow"]
materialize_server = ["proto-flow"]

runtime_client = ["proto-flow"]
runtime_server = ["proto-flow"]

shuffle_client = ["proto-flow"]
shuffle_server = ["proto-flow"]