crates/json/benches/testdata/citi-rides1.json filter=lfs diff=lfs merge=lfs -text
crates/json/benches/testdata/github-scrape1.json filter=lfs diff=lfs merge=lfs -text
crates/json/benches/testdata/github-scrape2.json filter=lfs diff=lfs merge=lfs -text
crates/json/benches/testdata/github-scrape3.json filter=lfs diff=lfs merge=lfs -text
crates/json/benches/testdata/github-scrape4.json filter=lfs diff=lfs merge=lfs -text
