# Outputs from project build that we don't version.
target/
.build/
.build-ci/

# Outputs from catalog build & test that we don't version.
/dist
/node_modules

# We'd like to not ignore flowctl-develop at all, to make it clear when
# the working directory is dirty, but node_modules has so many files that
# VSCode can't track it.
/flowctl-develop/node_modules

# Ordinarily one *would* version package-lock.json.
# In our case, though, we want early warning if dependencies of the
# vanilla package.json produce broken builds.
/package-lock.json

# Typical IDE stuff.
.vim
*.swp
Session.vim
.idea

