[workspace]
resolver = "2"
members = ["crates/*"]
exclude = ["crates/derive-typescript"]

[workspace.package]
version = "0.0.0"
edition = "2021"
rust-version = "1.65"
authors = ["Estuary developers <engineering@estuary.dev>"]
readme = "./README.md"
homepage = "https://estuary.dev/"
repository = "https://github.com/estuary/flow"
license = "BSL"

[workspace.dependencies]
addr = { version = "0.15.4", default-features = false, features = ["std"] }
anyhow = "1.0"
async-compression = { version = "0.3", features = [
    "futures-io",
    "gzip",
    "tokio",
    "zstd",
] }
async-trait = "0.1"
atty = "0.2"
avro-rs = { version = "0.13", features = ["snappy"] }

base64 = "0.13"
bigdecimal = "0.3.0"
# TODO(johnny): bitvec had a breaking 1.0 release we've not upgraded to yet.
bitvec = "0.19"
bytecount = { version = "0.6.3", features = ["runtime-dispatch-simd"] }
bytes = "1.2"
bytesize = "1.1.0"
bumpalo = { version = "3.11", features = ["collections"] }
bytelines = "2.4"
byteorder = "1.4"
caseless = "0.2"
chardetng = "0.1"
chrono = { version = "0.4", features = ["serde"] }
clap = { version = "3.2", features = ["derive", "env"] }
colored_json = "3"
comfy-table = "6.1"
# The `console_error_panic_hook` crate causes panics in a Rust WASM module to be logged
# with `console.error`.
console_error_panic_hook = { version = "0.1.6" }
crossterm = "0.25"
csv = "1.1"
dirs = "4.0"
encoding_rs = { version = "0.8", features = ["serde"] }
exponential-backoff = "1.1.0"
fancy-regex = "0.10"
flate2 = "1.0"
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"
fxhash = "0.2"
hex = "0.4.3"
hexdump = "0.1"
humantime = "2.1"
humantime-serde = "1.1"
itertools = "0.10"
indexmap = { version = "1.8", features = ["serde"] }
iri-string = "0.6.0"
jemallocator = "0.3"
jemalloc-ctl = "0.3"
json-patch = "0.3"
js-sys = "0.3.60"
lazy_static = "1.4"
libc = "0.2"
librocksdb-sys = { version = "6.20", default-features = false, features = [
    "snappy",
    "rtti",
] }
lz4 = "1.24.0"
mime = "0.3"
memchr = "2.5"
md5 = "0.7.0"
num-bigint = "0.4"

open = "3"
openssl-sys = { version = "0.9", features = ['vendored'] }
openssl = "0.10"

pathfinding = "3.0"
pbjson = "0.5.1"
pbjson-types = "0.5.1"
percent-encoding = "2.1"
pin-project = "1.0.12"
postgrest = { git = "https://github.com/jshearer/postgrest-rs", branch = "joseph/combined_changes_rebased" }
page-turner = "0.8.2"
prost = "0.11"
protobuf = "3.1"
protobuf-json-mapping = "3.1"
protobuf-parse = "3.1"
regex = "1.5"
reqwest = { version = "0.11", default_features = false, features = [
    "json",
    "rustls-tls",
    "stream",
] }
rocksdb = { version = "0.17", default-features = false, features = [
    "snappy",
    "rtti",
] }
rkyv = { version = "0.7", features = ["archive_le"] }
rusqlite = { version = "0.29", features = ["bundled-full"] }
rustyline = "11.0"
schemars = "0.8"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0.85", features = ["raw_value"] }
serde_yaml = "0.8"
serde-transcode = "1.1"
serde-wasm-bindgen = "0.4"
size = "0.4"
strsim = "0.10"
strum = { version = "0.24", features = ["derive"] }
strum_macros = "0.24"
superslice = "1.0"
sqlx = { version = "0.6", features = [
    "chrono",
    "json",
    "macros",
    "postgres",
    "runtime-tokio-native-tls",
    "uuid",
] }

tempfile = "3.3"
portpicker = "0.1.1"
tempdir = "0.3"
thiserror = "1.0"
time = { version = "0.3", features = [
    "serde-well-known",
    "macros",
    "formatting",
    "parsing",
] }
tinyvec = { version = "1.6", features = ["alloc"] }
# We CANNOT enable the tokio "process" feature: https://github.com/tokio-rs/tokio/issues/3520
# Instead, use the async-process crate which encapsulates a work-around.
tokio = { version = "1", features = [
    "fs",
    "io-util",
    "macros",
    "net",
    "rt-multi-thread",
    "signal",
    "sync",
    "time",
] }
tokio-util = { version = "0.7", features = ["io", "compat"] }
tonic = { version = "0.9", features = ["tls", "tls-roots"] }
tower = "0.4"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
    "time",
    "json",
    "env-filter",
    "fmt",
] }
shared_child = "1.0.0"
zeroize = "1.6"

unicode-bom = "1.1"
unicode-normalization = "0.1"
url = { version = "2.2", features = ["serde"] }
uuid = { version = "1.1", features = ["serde", "v4"] }
validator = { version = "0.15", features = ["derive"] }
quickcheck = "1.0"
quickcheck_macros = "1.0"
wasm-bindgen = "0.2.62"
# `wee_alloc` is a tiny allocator for wasm that is only ~1K in code size
# compared to the default allocator's ~10K. It is slower than the default
# allocator, however. It is an optional dependency for WASM modules.
wee_alloc = { version = "0.4" }
yaml-merge-keys = { version = "0.5", features = ["serde_yaml"] }
zip = "0.5"
zstd = "0.11.2"
derivative = "2.2.0"

# Used exclusively as dev-dependencies
assert_cmd = "2.0"
criterion = "0.3"
glob = "0.3"
insta = { version = "1.20", features = ["redactions", "json", "yaml"] }
pretty_assertions = "1.4.0"
rand = { version = "0.8", features = ["small_rng"] }
rand_distr = { version = "0.4" }
serial_test = "0.9"
wasm-bindgen-test = "0.3.13"

# Used exclusively as build-dependencies
cbindgen = "0.23"
pbjson-build = "0.5"
prost-build = "0.11"
tonic-build = "0.9"

warp = "0.3.3"


[profile.release]
incremental = true
debug = 0          # Set this to 1 or 2 to get more useful backtraces in debugger.

[patch.'crates-io']
rocksdb = { git = "https://github.com/jgraettinger/rust-rocksdb" }
librocksdb-sys = { git = "https://github.com/jgraettinger/rust-rocksdb" }

# TODO(johnny): remove when PR is upstream - https://github.com/hyperium/tonic/pull/1423
tonic = { git = "https://github.com/jgraettinger/tonic", branch = "johnny/read-chunks-backport" }
