[package]
name = "sources"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
doc = { path = "../doc" }
json = { path = "../json" }
models = { path = "../models" }
proto-flow = { path = "../proto-flow" }
tables = { path = "../tables" }

anyhow = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
serde-transcode = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
yaml-merge-keys = { workspace = true }

[dev-dependencies]

insta = { workspace = true }
