[package]
name = "labels"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
doc = { path = "../doc" }
json = { path = "../json" }
proto-flow = { path = "../proto-flow" }
proto-gazette = { path = "../proto-gazette" }

percent-encoding = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]

insta = { workspace = true }
serde_json = { workspace = true }