[package]
name = "runtime"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
assemble = { path = "../assemble" }
async-process = { path = "../async-process" }
connector-init = { path = "../connector-init" }
coroutines = { path = "../coroutines" }
dekaf = { path = "../dekaf" }
derive-sqlite = { path = "../derive-sqlite" }
doc = { path = "../doc", features = ["combine"] }
extractors = { path = "../extractors" }
gazette = { path = "../gazette" }
iam-auth = { path = "../iam-auth" }
json = { path = "../json" }
labels = { path = "../labels" }
locate-bin = { path = "../locate-bin" }
models = { path = "../models" }
ops = { path = "../ops" }
proto-flow = { path = "../proto-flow" }
proto-gazette = { path = "../proto-gazette" }
proto-grpc = { path = "../proto-grpc", features = [
    "capture_client",
    "capture_server",
    "derive_client",
    "derive_server",
    "materialize_client",
    "materialize_server",
    "runtime_server",
] }
simd-doc = { path = "../simd-doc" }
tables = { path = "../tables" }
tuple = { path = "../tuple" }
unseal = { path = "../unseal" }

anyhow = { workspace = true }
aws-config = { workspace = true}
aws-sdk-sts = { workspace = true }
aws-credential-types = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
futures = { workspace = true }
json-patch = { workspace = true }
jsonwebtoken = { workspace = true }
librocksdb-sys = { workspace = true }
pbjson-types = { workspace = true }
prost = { workspace = true }
reqwest = { workspace = true }
rocksdb = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
xxhash-rust = { workspace = true }
zeroize = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
