[package]
name = "gazette"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
coroutines = { path = "../coroutines" }
ops = { path = "../ops" }
proto-gazette = { path = "../proto-gazette" }
proto-grpc = { path = "../proto-grpc", features = ["broker_client", "consumer_client"] }

async-compression = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
futures-core = { workspace = true }
hyper-util = { workspace = true }
jsonwebtoken = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tower = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

# For use with doc parsing (make a feature-flag?).
doc = { path = "../doc" }
simd-doc = { path = "../simd-doc" }
pin-project-lite = { workspace = true }
serde_json = { workspace = true }

[dev-dependencies]

tracing-subscriber = { workspace = true }
hexdump = { workspace = true }

# anyhow = { workspace = true }
# serde_json = { workspace = true }
# memchr = { workspace = true }
# pin-project-lite = { workspace = true }