[package]
name = "derive"
version = "0.0.0"
authors = ["Estuary Technologies, Inc"]
edition = "2018"

[dependencies]
doc = { path = "../doc", version = "0.0.0" }
json = { path = "../json", version = "0.0.0" }
models = { path = "../models", version = "0.0.0" }
protocol = { path = "../protocol", version = "0.0.0" }
tuple = { path = "../tuple", version = "0.0.0" }

anyhow = "*"
bytes = "*"
futures = "*"
itertools = "*"
pin-utils = "*"
prost = "*"
rocksdb = { version = "*", default-features = false }
rusqlite = { version = "*", features = ["bundled", "collation", "column_decltype", "functions", "serde_json", "url"] }
serde = { version = "*", features = ["derive"] }
serde_json = { version =  "*"}
thiserror = "*"
tracing = "*"
tracing-futures = "*"
url = "*"
uuid = "*"

[dev-dependencies]
insta = "*"
tempfile = "*"