[package]
name = "derive"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
allocator = { path = "../allocator" }
cgo = { path = "../cgo" }
doc = { path = "../doc" }
json = { path = "../json" }
models = { path = "../models" }
proto-flow = { path = "../proto-flow" }
proto-gazette = { path = "../proto-gazette" }
tables = { path = "../tables" }
tuple = { path = "../tuple" }

anyhow = { workspace = true }
bytes = { workspace = true }
futures = { workspace = true }
itertools = { workspace = true }
librocksdb-sys = { workspace = true }
prost = { workspace = true }
rocksdb = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
insta = { workspace = true }
tempfile = { workspace = true }
rand = { workspace = true }
rand_distr = { workspace = true }
