[package]
name = "flow-client-next"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
gazette = { path = "../gazette" }
models = { path = "../models" }
proto-flow = { path = "../proto-flow" }
proto-gazette = { path = "../proto-gazette" }
proto-grpc = { path = "../proto-grpc" }
tokens = { path = "../tokens" }

anyhow = { workspace = true }
futures = { workspace = true }
jsonwebtoken = { workspace = true }
lazy_static = { workspace = true }
postgrest = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }