<!-- templates/success.html -->
<!doctype html>
<html>

<head>
  <title>Google SignIn</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- load bulma css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <style>
    body {
      padding-top: 70px;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-success  text-center"><span class="fa fa-user"></span> Profile Information</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <p>
            <h3>Principal:</h3><br>
            <strong>Role</strong>: {{.Role}}<br>
            <strong>Subject</strong>: {{.Subject}}<br>
            <strong>Expires</strong>: {{.Expires}}<br>
            </p>

            <p>
            <h3>JWT Tokens:</h3><br>
            <strong>AccessToken</strong>:<br> <code>{{.AccessToken}}</code><br>
            <strong>IDToken</strong>:<br> <code>{{.IDToken}}</code><br>
            </p>

            <p>
            <h3>Third-party Identity Credential:</h3><br>
            <strong>Issuer</strong>: {{.Credential.Issuer}}<br>
            <strong>Subject</strong>: {{.Credential.Subject}}<br>
            <strong>Expires</strong>: {{.Credential.Expires}}<br>
            <strong>AvatarURL</strong>: {{.Credential.Ext.AvatarURL}}<br>
            <strong>DisplayName</strong>: {{.Credential.Ext.DisplayName}}<br>
            <strong>Email</strong>: {{.Credential.Ext.Email}}<br>
            <strong>FirstName</strong>: {{.Credential.Ext.FirstName}}<br>
            <strong>LastName</strong>: {{.Credential.Ext.LastName}}<br>
            <strong>Locale</strong>: {{.Credential.Ext.Locale}}<br>
            <strong>Orgs</strong>: {{.Credential.Ext.Organizations}}<br>
            <strong>Prev</strong>: {{.Credential.Ext.Prev}}<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>