[Unit]
Description=Flow Control Plane Agent
Documentation=https://github.com/estuary/flow
After=flow-supabase.service
Requires=flow-supabase.service

[Service]
Type=simple

EnvironmentFile=%h/flow-local/env/common.env
EnvironmentFile=%h/flow-local/env/agent.env

ExecStartPre=%h/flow-local/run-in-repo cargo build -p agent
ExecStart=%h/cargo-target/debug/agent

Restart=on-failure
RestartSec=5s
