[Unit]
Description=Flow Reactor (%i)
Documentation=https://github.com/estuary/flow
After=flow-etcd.service
Requires=flow-etcd.service

[Service]
Type=simple

# Load instance-specific environment
# Instance format: <cluster>-<port> (e.g., foobar-9000)
EnvironmentFile=%h/flow-local/env/common.env
EnvironmentFile=%h/flow-local/env/reactor-%i.env

ExecStartPre=%h/flow-local/run-in-repo cargo build -p bindings

# Embed the mtime of libbindings to force a Go re-link if it changed.
ExecStartPre=%h/flow-local/run-in-repo sh -c "\
  CGO_LDFLAGS=\"${CGO_LDFLAGS} -Wl,--defsym=__libbindings_mtime=$(\
    stat -c %%Y ${CARGO_TARGET_DIR}/debug/libbindings.a\
  )\" \
  go build -tags libsqlite3 -o %h/go/bin/flowctl-go ./go/flowctl-go"
ExecStart=%h/go/bin/flowctl-go serve consumer

Restart=on-failure
RestartSec=5s
