[Unit]
Description=Flow Runtime Sidecar (%i)
Documentation=https://github.com/estuary/flow

[Service]
Type=simple
TimeoutStartSec=600

EnvironmentFile=%h/flow-local/env/runtime-sidecar-%i.env

ExecStartPre=sh -c 'cd ${FLOW_ROOT} && cargo build -p runtime-sidecar'
ExecStart=sh -c 'exec ${CARGO_TARGET_DIR}/debug/runtime-sidecar'

Restart=on-failure
RestartSec=5s
