[Unit]
Description=Flow Control Plane (%i)
Documentation=https://github.com/estuary/flow
Wants=flow-control-agent@%i.service
Wants=flow-config-encryption@%i.service
