[package]
name = "proto-flow"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]
proto-gazette = { path = "../proto-gazette" }

bytes = { workspace = true }
pbjson = { workspace = true }
pbjson-types = { workspace = true }
prost = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
zeroize = { workspace = true }

[build-dependencies]
proto-build = { path = "../proto-build", optional = true }

pbjson-build = { workspace = true, optional = true }
prost-build = { workspace = true, optional = true }
regex = { workspace = true, optional = true }

[dev-dependencies]
insta = { workspace = true }
hexdump = { workspace = true }

[features]
default = []
generate = ["proto-build", "pbjson-build", "prost-build", "regex"]