dist/
flow_generated/
node_modules/
# We don't really _need_ to ignore these, but it makes it easier to update them when Flow changes
# how they're generated.
.eslintrc.js
.prettierrc.js
tsconfig.json
# I think we want to ignore this so that we re-resolve dependencies whenever we deploy this.
package-lock.json
