[test-groups]

serial-db-tests = { max-threads = 1 }

[profile.default]
slow-timeout = { period = "30s", terminate-after = 4 }
# Exclude e2e tests from Dekaf by default because they require special setup.
# See mise/tasks/ci/dekaf-e2e for details.
default-filter = 'not binary_id(/dekaf::e2e/)'

[profile.dekaf-e2e]
# Migration tests excluded due to 8-minute timeout.
default-filter = 'binary_id(/dekaf::e2e/) and not test(/migration/)'

[[profile.default.overrides]]
filter = 'package(agent) and (test(discovers::) + test(directives::) + test(integration_tests::))'
test-group = 'serial-db-tests'

[[profile.default.overrides]]
filter = 'package(automations) and test(test_fibonacci_bench)'
test-group = 'serial-db-tests'
