# Support for directly reading `.env` files was only added in direnv 2.30.  SQLx
# will only read the real `.env` file. https://github.com/direnv/direnv/pull/845

# This file acts as a compatibility shim by explicitly loading the `.env` file
# in this directory. https://github.com/direnv/direnv/issues/284 Once 2.30 is an
# old version, we can ditch this file.
dotenv
