name: Deploy oidc-discovery-server

on:
  workflow_run:
    workflows: ["Platform Build"]
    types:
      - completed
    branches: [master]
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: read
      id-token: write
      packages: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get image tag
        id: image-tag
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
            TAG="dev-next"
          else
            TAG=$(git describe --tags --always)
          fi
          echo "tag=${TAG}" >> $GITHUB_OUTPUT
          echo "image=us-central1-docker.pkg.dev/estuary-control/ghcr/estuary/oidc-discovery-server:${TAG}" >> $GITHUB_OUTPUT

      - name: Authenticate with GCP Workload Identity Federation
        uses: google-github-actions/auth@v2
        with:
          service_account: cd-github-actions@estuary-control.iam.gserviceaccount.com
          workload_identity_provider: projects/1084703453822/locations/global/workloadIdentityPools/github-actions/providers/github-actions-provider

      - name: Deploy Cloud Run service `oidc-discovery-server`
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: oidc-discovery-server
          project_id: estuary-control
          region: us-central1
          image: ${{ steps.image-tag.outputs.image }}
          port: 8080

          env_vars: |-
            DATABASE_CA=/etc/db-ca.crt
            DATABASE_URL=postgresql://postgres@db.eyrcnmuzzyriypdajwdk.supabase.co:5432/postgres
            NO_COLOR=1

          secrets: |-
            CONTROL_PLANE_DB_CA_CERT=CONTROL_PLANE_DB_CA_CERT:latest
            PGPASSWORD=POSTGRES_PASSWORD:latest

          env_vars_update_strategy: overwrite
          secrets_update_strategy: overwrite
