name: Flow-web CI

# Controls when the action will run. Triggers the workflow on push
# or pull request events, but only for the primary branch.
on:
  push:
    branches: [master]
    paths:
      - "crates/flow-web/**"
      - "Cargo.lock"
  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/flow-web.yaml"
      - "crates/flow-web/**"
      - "Cargo.lock"

jobs:
  buildAndPublish:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v2

      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown

      - name: Install wasm-bindgen
        run: |
          curl -sSL https://github.com/rustwasm/wasm-bindgen/releases/download/0.2.100/wasm-bindgen-0.2.100-x86_64-unknown-linux-musl.tar.gz | tar -zxv
          mv wasm-bindgen-0.2.100-x86_64-unknown-linux-musl/wasm* ~/.cargo/bin/

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Build flow-web
        run: wasm-pack build --scope estuary crates/flow-web --out-name flow_web

      - name: Publish flow-web
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          cd crates/flow-web/pkg
          echo '//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}' > .npmrc
          echo '@estuary:registry=https://npm.pkg.github.com' >> .npmrc
          wasm-pack publish --access=public --tag=dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
