name: Flowctl Tests on macos

# Only run on pushes that impact the flowctl crate, since that's the only thing we
# currently ship for macs.
on:
  push:
    paths:
      - ".github/workflows/flowctl-test.yaml"
      - "Cargo.lock"
      - "crates/flowctl/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test flowctl on macos
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - name: Run tests
        run: cargo test -p flowctl
        env:
          SQLX_OFFLINE: "1"
