name: CI

# Controls when the action will run. Triggers the workflow on push
# or pull request events, but only for the primary branch.
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      # We require a minimal Go version of 1.16.
      # TODO(johnny): Temporarily downgrade from 1.16.7 => 1.16.6 (issue #191).
      - uses: actions/setup-go@v2
        with:
          go-version: "1.16.6"

      - run: make extra-ci-runner-setup
      - run: make print-versions

      # TODO(johnny): This works well, but published docker images have the visibility
      # of the associated repository, and there's no way to change this without making
      # the repo itself public. Which we may well do, so leaving commented out for now.
      #
      #- name: Login to GitHub package docker registry
      #  run: |
      #    echo "${{ secrets.GITHUB_TOKEN }}" | \
      #      docker login --username ${{ github.actor }} --password-stdin docker.pkg.github.com

      - name: Login to quay.io container registry
        run: |
          echo "${{ secrets.QUAY_TOKEN }}" | \
            docker login --username ${{ secrets.QUAY_USERNAME }} --password-stdin quay.io

      - name: Login to GitHub container registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | \
            docker login --username ${{ github.actor }} --password-stdin ghcr.io

      - name: Cache/Restore Rust dependencies.
        uses: actions/cache@v2
        with:
          # See: https://doc.rust-lang.org/nightly/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
          # TODO: Try https://github.com/Swatinem/rust-cache
          path: |
            ~/.cargo/registry/cache
            ~/.cargo/registry/index
            ~/.cargo/git/db
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache/Restore Go dependencies.
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - run: make install-tools
      - run: go mod download
      - run: make rust-build
      - run: make rust-test
      - run: make go-test-ci
      - run: make catalog-test
      - run: make end-to-end-test
      - name: Tidy up, and ensure that generated files are unchanged.
        run: |
          # catalog-test dirties the branch by creating examples/examples.db.
          git clean --force -d
          git diff
          [[ -z "$(git status --porcelain)" ]] || exit 1
        shell: bash
      - run: make package
      - run: make docker-image
      - run: make docker-push
      - if: ${{ github.ref == 'refs/heads/master' }}
        run: make docker-push-dev
      - run: cargo install cargo-cache --no-default-features --features ci-autoclean
      - run: cargo-cache
