name: CI

# Controls when the action will run. Triggers the workflow on push
# or pull request events, but only for the primary branch.
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          submodules: true

      - run: make extra-ci-runner-setup
      - run: make print-versions

      # TODO(johnny): This works well, but published docker images have the visibility
      # of the associated repository, and there's no way to change this without making
      # the repo itself public. Which we may well do, so leaving commented out for now.
      #
      #- name: Login to GitHub package docker registry
      #  run: |
      #    echo "${{ secrets.GITHUB_TOKEN }}" | \
      #      docker login --username ${{ github.actor }} --password-stdin docker.pkg.github.com

      - name: Login to quay.io container registry
        run: |
          echo "${{ secrets.QUAY_TOKEN }}" | \
            docker login --username ${{ secrets.QUAY_USERNAME }} --password-stdin quay.io

      - name: Cache/Restore Rust dependencies.
        uses: actions/cache@v2
        with:
          # See: https://doc.rust-lang.org/nightly/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
          # TODO: Try https://github.com/Swatinem/rust-cache
          path: |
            ~/.cargo/registry/cache
            ~/.cargo/registry/index
            ~/.cargo/git/db
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache/Restore Go dependencies.
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}

      - name: Cache/Restore RocksDB build.
        uses: actions/cache@v2
        with:
          path: .build/rocksdb-v6.11.4
          key: rocksdb-v6.11.4

      - run: make install-tools
      - run: go mod download
      - run: make rocks-build
      - run: make rust-build
      - run: make rust-test
      - run: make go-test-ci
      - run: df -hai
      - run: netstat -ive
      - run: make catalog-test
      # catalog-test dirties the branch by creating examples/examples.db.
      # Tidy up before further invocations using `git describe --dirty`
      - run: git clean -f -d && git status && git diff
      - run: make package
      - run: make docker-image
      - run: make docker-push-to-quay
      - if: ${{ github.ref == 'refs/heads/master' }}
        run: make docker-push-quay-dev
      - run: cargo install cargo-cache --no-default-features --features ci-autoclean
      - run: cargo-cache
